HackerNewsReader.xcodeproj/project.xcworkspace/xcuserdata
HackerNewsReader.xcodeproj/project.xcworkspace/xcuserdata/*
HackerNewsReader.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate
